DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_URL="http://127.0.0.1:4000"
NEXTAUTH_SECRET="change-this-secret"
ADMIN_EMAIL="admin@content-monitor.local"
ADMIN_PASSWORD="AdminPassword123!"
ADMIN_USERNAME="admin"
ADMIN_NAME="Platform Admin"
MIDTRANS_SERVER_KEY="SB-Mid-server-your-sandbox-key"
MIDTRANS_IS_PRODUCTION="false"
